/* App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  height: 100%;
}

.header {
  background: #001529;
  padding: 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.content {
  padding: 20px; /* General padding */
  padding-top: 80px; /* Suficiente padding para evitar superposición con el header */
  min-height: calc(100vh - 134px); /* Ajusta según el tamaño de tu Header y Footer */
}

.landing {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.landing .ant-btn {
  margin: 0 10px;
}

.primary-button {
  background-color: #1DA57A;
  border-color: #1DA57A;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;       /* Tamaño de la letra */
  height: 50px;          /* Altura del botón */
  width: 150px;          /* Anchura del botón */
}

.secondary-button {
  background-color: #ffa940;
  border-color: #ffa940;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;       /* Tamaño de la letra */
  height: 50px;          /* Altura del botón */
  width: 150px;          /* Anchura del botón */
}

.login-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.register-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.register-button {
  width: 100%;
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .content {
    padding: 10px;
    padding-top: 80px; /* Ajuste responsivo del padding superior */
  }

  .register-container {
    width: 100%;
    padding: 15px;
  }

  .register-button {
    width: 100%;
  }
}
